@use "styles/colors";

.button {
  background-color: colors.$complementaryGreen;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.18px;
  border: 1px solid colors.$complementaryGreen;
  border-radius: 32.5px;
  padding: 5px 10px;

  transition-property: background-color, color;
  transition-duration:  300ms;
  transition-timing-function: (0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: white;
    color: colors.$complementaryGreen;
  }
}
