@use "styles/colors";
@use "styles/mixins";

.section {
  background-image: url("../../images/artwork-71.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  @include mixins.tablet {
    background-size: 704px 507px;
  }

  .title {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -1.7px;
    color: colors.$darkNavy;

    @include mixins.tablet {
      font-size: 85px;
      width: 420px;
    }
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    color: colors.$primary;
  }
}
