@use "styles/colors";

.section {
  background-image: url("../../images/artwork-71.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  .title {
    font-size: 2em;
    font-weight: 700;
    color: colors.$darkNavy;
  }

  .description {
    font-size: 1em;
    font-weight: 400;
    color: colors.$primary;
  }
}
