@use "styles/colors";

.section {
  background-image: url("../../images/artwork-6.png"),
    url("../../images/artwork-5.png");
  background-position: left 50px, right bottom;
  background-repeat: no-repeat;
  background-size: 75%;

  .container {
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    padding: 30% 20px;

    .content {
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      color: colors.$primary;
    }
  }
}
