@use "styles/colors";
@use "styles/mixins";
@use "styles/shadows";

$width: 80%;

.navigation {
  background-color: white;
  border-bottom-right-radius: 6px;
  box-shadow: shadows.$shadow1;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: $width;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  transition: left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @include mixins.tablet {
    background-color: transparent;
    box-shadow: none;
    position: static;
    z-index: 0;
    width: auto;
    gap: 0px;
    flex-direction: row;
    align-items: center;
    transition: none;
    padding: 0;
  }

  .close-btn {
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mixins.tablet {
      flex-direction: row;
      gap: 0px;
    }

    .menu-item {
      margin-right: 40px;

      @include mixins.tablet {
        margin: 0 10px;
      }

      .menu-link {
        color: colors.$darkNavy;
        transition: color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
          color: colors.$complementaryGreen;
        }
      }
    }
  }

  .button {
    background-color: white;
    color: colors.$complementaryGreen;
    font-size: 1em;

    @include mixins.transition(color, background-color);

    &:hover {
      background-color: colors.$complementaryGreen;
      color: white;
    }
  }
}

.navigation--hidden {
  @extend .navigation;

  left: (-$width);
}
