@use "styles/colors";
@use "styles/mixins";

.section {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: colors.$secondary;

  @include mixins.desktop {
    height: auto;
  }

  .container {
    align-items: center;
    padding: 90px 20px 70px;

    @include mixins.desktop {
      align-items: flex-start;
    }
  }
}

.container {
  .rocket {
    position: absolute;
    right: 0;
    bottom: 0;

    @include mixins.desktop {
      right: 100px;
      bottom: -180px;
      height: 890px;
      width: 650px;
      z-index: -1;
    }
  }

  .title {
    color: white;
  }

  .content {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
    align-self: flex-end;

    @include mixins.desktop {
      align-self: auto;
    }
  }

  .form {
    background-color: #f3f3f3;
    border-radius: 10px;

    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;

    @include mixins.desktop {
      align-items: flex-start;
      height: 601px;
      width: 512px;
      padding-top: 72px;
    }
  }
}

.form {
  .input {
    border: none;
    border-radius: 10px;
    padding: 18px 16px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    width: 100%;
  }

  .textarea {
    resize: none;

    @include mixins.desktop {
      height: 270px;
    }
  }

  .button {
    background-color: colors.$darkNavy;
    border-color: colors.$darkNavy;
    align-self: center;

    @include mixins.transition(color, background-color);

    &:hover {
      background-color: transparent;
      color: colors.$darkNavy;
    }
  }
}
