@use "styles/colors";
@use "styles/mixins";

.section {
  height: auto;
}

.container {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 40px;

  @include mixins.tablet {
    flex-direction: row;
    height: 346px;
  }

  .image {
    width: 25%;
    height: 15%;

    &:first-of-type {
      align-self: flex-start;
    }

    &:last-of-type {
      align-self: flex-end;
    }

    @include mixins.tablet {
      width: 59px;
      height: 66px;

      &:first-of-type,
      &:last-of-type {
        align-self: auto;
      }
    }
  }

  .content {
    color: colors.$primary;
    font-size: 1.2em;
    text-align: center;

    @include mixins.tablet {
      font-weight: 700;
    }

    @include mixins.desktop {
      font-size: 40px;
    }
  }
}
